/MonolithVersionConMVC/MonolithProyectoConMVC/nbproject/private/
/MonolithVersionConMVC/MonolithProyectoConMVC/build/
/MonolithVersionConMVC - copia/KerberosServer/build/
/MonolithVersionConMVC - copia/KerberosServer/nbproject/private/
/MonolithVersionConMVC - copia/MonolithProyectoConMVC/nbproject/private/
/MonolithVersionConMVC - copia/MonolithProyectoConMVC/build/
/MonolithVersionConMVC/MonlithEmpresarial/nbproject/private/
/MonolithVersionConMVC/MonlithEmpresarial/build/
/MonolithVersionConMVC/MonolithEmpre/nbproject/private/
/MonolithVersionConMVC/MonolithEmpre/build/
/MonolithVersionConMVC/WebApplication1/nbproject/private/
/MonolithVersionConMVC/MonolithV3/nbproject/private/
/MonolithVersionConMVC/MonolithVersion3/MonolithV3/nbproject/private/
/MonolithVersionConMVC/MonolithVersion3/PermisosServer/build/
/MonolithVersionConMVC/MonolithVersion3/PermisosServer/nbproject/private/
/MonolithVersionConMVC/MonolithVersion3/KerberosServer/build/
/MonolithVersionConMVC/MonolithVersion3/KerberosServer/nbproject/private/
/MonolithVersionConMVC/MonolithVersion3/MonolithV3/build/